*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: 'Fira Sans', sans-serif;
}
html,body {  font-family: 'Fira Sans', sans-serif;  margin: 0; height:100%;background-color: wheat; }
.navbar{
    font-family: sans-serif;
    display: flex;

    padding: 1rem;
    justify-content: space-around;
    background: #f0f0f0;
    height: 10vh;
    width: 100%;
}



.button{

    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    margin: 10px;
    font-size: 16px;
}
.button {
    width: 150px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #393a34; /* Green */
    color: white;
}
.buttonSend{
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    height: 40px;
    font-size: 16px;
}
.flex-container {
    display: flex;
    background-color: wheat;
    height: 100%;
}

.flex-chats{

    height: 59vh;

    margin: 10px;
    flex: 10%;


}
.flex-chat {

    height: 59vh;
    position: relative;
    margin: 10px;
    flex: 90%;


}
.new-chat-card{

    border-style: double;
    border-color: #393a34;
}
.chat-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.chat-card{
    width: 50%;
    background-color: gray;
    height: 100%;
    overflow-y: auto;
    max-height: 93%;
}

body {
    padding: 5%;
    background-color: #F5F5F5;
}


/* ===== MENU ===== */

/* === CONVERSATIONS === */

.chat .messages-chat {
    padding: 25px 35px;
}



.write-message {
    border:none !important;
    width:20%;
    height: 65px;
    margin-left: 20px;
    padding: 10px;
}
.dropdown {

    width:10%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;

}
.dropdownNames{

    border: 2px;


}
.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}