*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}
html,body {  font-family: 'Fira Sans', sans-serif;  margin: 0; }
.editUserTilte{
    background-color: darkcyan;
    font-size: 30px;
    height: 120px;
    padding-top: 50px;



}

.border{
    border: 2px solid black;
    width: 500px;
    padding: 10px;
    margin: 10px;
}
.user {
    padding: 40px;


    font-size: 22px;
    background-color:darkcyan;
}

.buttonUser{

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    height: 60px;
    border: 2px solid black;
    width: 400px;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.padding-Top{
    padding-top: 40px;
}
.buttonUser:hover {
    background-color: #393a34;
    color: white;
}
.buttonChat{

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    height: 60px;
    width: 180px;
    border-radius: 5px;

}
.buttonChat:hover{

    color: black;
    border: 2px solid black;
}
.buttonChat:focus, .buttonChat:active{
    background-color: darkcyan;
    border: 2px solid black;
    color: white;
}
.button{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    height: 60px;
    border: 2px solid black;
    width: 180px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #393a34;
    color: white;
}
.new-Chat-Container{

    display: flex;
    height: 120px;
    flex-wrap: wrap;
    /* change this to row instead of 'column' */

}
.headerSelectedUsers{
    width: 100%;
    height: 20px;
    text-align: start;

}
.new-Chat-User{
    font-size: 12px;
    padding-top: 10px;
    border: 2px solid black;
    width: 100px;
    height: 40px;
    border-radius: 10px;


}

.buttonSend{
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    height: 40px;
    font-size: 16px;
}
.flex-container {
    display: flex;
    width: 90%;
    height: 100%;
}

.flex-chats{

    height: 59vh;

    margin: 10px;
    flex: 10%;


}
.flex-chat {
    display: flex;
    justify-content: left;
    height: 59vh;
    position: relative;
    margin: 10px;
    flex: 100%;
    width: 400px;

}
.chatContainer{
    width: 80%;
    background-color:  #e3effd;
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: relative;




}
.timestamp{

    flex: 1 1 100px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 20px;
    opacity: 0.5;
    font-size: 13px;


}
.chatName{
    width: 180px;
    font-weight: bold;
    font-size: 18px;

}
.chatHeader{

    background-color:  #e3effd;
    width: 300px;



}

.chatMessage{
    margin-top: 10px;
    background-color:  #e3effd;
}

.lastreadlist{
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    display: flex;
    height: 30px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: left;
    margin: 30px 0;
}
.lastRead{
    font-size: 12px;
    height: 30px;
    padding: 5px;
    margin-left: 3px;
    border: 2px solid black;
    background-color:  #e3effd;
    border-radius: 12px;
    width: 180px;

}
.chat-card{
    width: 800px;
    height: 100%;
    overflow-y: auto;
    max-height: 93%;
}
.userList{
    margin-top: 10px;
    height: 300px;
    font-size: 20px;
    padding: 10px;

    width: 180px;
}
.userInChat{

    height: 20px;
    width: 20%;
    padding-top: 10px;
    margin-top: 10px;
}

.chat-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}


body {

    background-color: #F5F5F5;
}


/* ===== MENU ===== */

/* === CONVERSATIONS === */

.chat .messages-chat {
    padding: 25px 35px;
}


.write-message2{
    border:none !important;
    width:550px;
    height: 65px;
    margin-left: 20px;
    padding: 10px;
}
.write-message {
    border:none !important;
    width:300px;
    height: 65px;
    margin-left: 20px;
    padding: 10px;
}

.dropdown {
    font-size: 13pt;
    width:20%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;

}
.new-chat-card{
    border: 2px solid black;
    height: 500px;
    width: 700px;
}
.dropdownNames{

    font-size: 13pt;


}


.clickable {
    cursor: pointer;
}